<ion-header no-border>
  <div class="itemtopPrayPage">
    <img src="assets/imgs/iconmark.png" (click)="gotaboutpage()">
    <div (click)="registerAzanNotification()" class="besidemark">
      <label> وزاره الحرس الوطنى جهاز الارشاد و التوجيه </label>
    </div>
    <img id="imgback" src="assets/imgs/back.png" (click)="Back()">
  </div>
</ion-header>
<ion-content>
  <div class="PrayTiming">
    <div class="circledivPray">
      <img src="assets/imgs/mosq.png">
    </div>
    <div class="showPrayTime">
      <b id="praytimelbl">اوقات الصلاه</b>
      <br>
      <div id="remindertime" *ngIf="!LOAD" class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
      <div *ngIf="LOAD">
        <b id="nextpraylbl">الصلاه القادمه {{Come_prey}}</b>
        <b id="remindertime">يتبقي على رفع الاذان- {{Hours}} س:{{Minutes}} د</b>
      </div>
    </div>

    <!-- <select [(ngModel)]="ItemSeleted" (ngModelChange)="ChnageSelectItemFromSelect()">
      <option *ngFor="let city of lstCITIES" [value]="city.nameEn">{{city.name}}</option>
    </select> -->

    <select-searchable searchPlaceholder="إيحث في المدن" [(ngModel)]="ItemSeleted" [items]="lstCITIES" itemValueField="nameEn" itemTextField="name" [canSearch]="true" (onChange)="ChnageSelectItemFromSelect($event)">
      <ng-template selectSearchableLabelTemplate>
        إختر مدينة
      </ng-template>
    </select-searchable>

  </div>
  <div class="ContentPray">
    <div class="emptydiv">
    </div>
    <div class="Praycontent">
      <div class="leftone">
        <div class="Rightone">
          <img id="imgclock" src="assets/imgs/clock.png">
        </div>
        <label>صلاه الفجر</label>
        <div *ngIf="!LOAD" class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
        <div *ngIf="LOAD" class="time">
          {{PreyerTimings.Fajr}}&nbsp; {{Check_Pm_Or_Am_Fajr}}
        </div>
      </div>
    </div>
  </div>

  <div class="ContentPray">
    <div class="emptydiv">
    </div>
    <div class="Praycontent">
      <div class="leftone">
        <div class="Rightone">
          <img id="imgclock" src="assets/imgs/clock.png">
        </div>
        <label>صلاه الضهر</label>
        <div *ngIf="!LOAD" left class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
        <div *ngIf="LOAD" class="time">
          {{PreyerTimings.Duhr}}&nbsp; {{Check_Pm_Or_Am_Duhr}}
        </div>
      </div>
    </div>
  </div>
  <!-- /************************** -->

  <div class="ContentPray">
    <div class="emptydiv">
    </div>
    <div class="Praycontent">
      <div class="leftone">
        <div class="Rightone">
          <img id="imgclock" src="assets/imgs/clock.png">
        </div>

        <label>صلاه العصر</label>
        <div *ngIf="!LOAD" class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
        <div *ngIf="LOAD" class="time">
          {{PreyerTimings.Asr}}&nbsp; م
        </div>
      </div>
    </div>
  </div>

  <!-- /************************** -->

  <div class="ContentPray">
    <div class="emptydiv">
    </div>
    <div class="Praycontent">
      <div class="leftone">
        <div class="Rightone">
          <img id="imgclock" src="assets/imgs/clock.png">
        </div>
        <label>صلاه المغرب</label>
        <div *ngIf="!LOAD" class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
        <div *ngIf="LOAD" class="time">
          {{PreyerTimings.Maghrib}}&nbsp; م
        </div>
      </div>
    </div>
  </div>
  <!-- /************************** -->

  <div class="ContentPray">

    <div class="emptydiv">

    </div>

    <div class="Praycontent">


      <div class="leftone">

        <div class="Rightone">
          <img id="imgclock" src="assets/imgs/clock.png">
        </div>


        <label>صلاه العشاء</label>
        <div *ngIf="!LOAD" class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
        <div *ngIf="LOAD" class="time">
          {{PreyerTimings.Isha}}&nbsp; م
        </div>

      </div>

    </div>

  </div>

  <!-- /************************** -->
  <!-- <div class="dir">
    <button>
      <img src="assets/imgs/icon-103.png" (click)="gotoCompass()">
    </button>
    <label>
      اتجاه القبله
    </label>
  </div> -->



</ion-content>
<ion-footer>
  <div class="itembottomPrayPage">
    <img src="assets/imgs/iconsetting.png" (click)="GotoSettingPage()">
  </div>

</ion-footer>