<ion-header no-border>
  <ion-navbar hideBackButton="true">
    <ion-buttons padding-left left>
      <button padding-left color="primary" (click)="zoomIn()" ion-button icon-only>
        <ion-icon name="add"></ion-icon>
      </button>
      <button (click)="zoomOut()" color="primary" ion-button icon-only>
        <ion-icon  name="remove"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title >
      {{this.title}}
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="Back()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div [hidden]="loaded">
    <progress-bar [progress]="loadProgress"></progress-bar>
  </div>

  <p *ngIf="error">
    لقد حدث خطأ اثناء عرض الملف يبدو انك غير متصل بالانترنت او ان الملف غير موجود .
  </p>

   <div [hidden]="!loaded" #viewerContainer class="viewer-container">
    <div #viewer class="viewer">
      <ng-container #pagesContainer>
        <div #pageContainer class="page" [style.width.px]="pageContainerUnique.width" [style.height.px]="pageContainerUnique.height">
          <div class="canvas-wrapper" #canvasWrapper>
            <canvas class="page-canvas" #canvas></canvas>
          </div>
          <div #textContainer class="text-layer selectable">
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <ion-fab right bottom>
    <button (click)="prevPage()" ion-fab color="light">
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab left bottom>
    <button (click)="nextPage()" ion-fab color="light">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
  </ion-fab>
</ion-content>