page-quraan {
    .segment-ios .segment-button:last-of-type{
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        margin-left: 0;
        border-left-width: 0;
    }
    
    .segment-ios .segment-button:first-of-type {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        margin-right: 0;
    }

    .itemtopQuraanPage{ 
        button{ 
         padding: 0;
         background: transparent;
        }
         margin-top: 5px;
         height: 50px;
 
         img{
             width: 25px;
            margin-right: 10px;
            margin-top: 13px;
            float: right;
         }
 
         #imgback{
             float: left;
             width: 25px;
             margin-left: 10px;
             margin-top: 10px; 
         }
     }

     .besidemark{ 
         width: 120px;
         float: right;
         margin-right: 2px;
         font-family: 'Cairo';
         font-size: 12px;
         color: #2a6aab;
     }

     .ForAdjustHieghtwithScroll{
         height: 26%; 
     }

     .ForAdjustHieghtwithScrollDownPart{
        height: 70%;
       
     }

     .Quraan{
       
        width: 100%;
        height: 90px;
        margin-top: 20px;
 
        .star{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            float: left;
            background-color: white;
            margin-left: 10px;
           margin-top: 32px;
           border: 1px solid #0277bd;
           img{
               width: 21px;
               margin: 8px;
               margin-top: 9px;
           }
        }

        .circledivQuraan{
            position: absolute;
            background-color: white;
            border-radius: 50%;
            float: right;
            width: 90px;
            height: 90px;
            border: 1px solid #0277bd;
            right: 10px;

           img{
               width: 50px;
               position: absolute;
               left: 50%;
               top:50%;
               transform: translate(-50%,-55%);
           }
        }

        label{
           position: absolute;
            color: #0277bd;
            font-family: 'Cairo';
            font-size: 20px;
            right: 110px;
            line-height: 100px;
            font-weight: bold;
        }
    }  
 
    .GRIDQuran{ 
        ion-col{
            padding: 2%;
        }

        #SCROLL{
            height:62vh;
        }
        #ROWQuraan{
           
            height: 120px;
        }

        #rightOneQuraan{
            border: 1px solid #0277bd;
            width: 100%;
            height: 95%;
            border-radius: 15px;
            background-color: white;
            text-align: center;
            color: #0277bd;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin: 0 auto 10px auto;
      
           
            #lblrightOne{
          
                font-weight: bold;
                font-size: 16px;
            }
            #lblrightnumber{
                margin-top: 5px;
            }
          
        }

        #CenterOneQuraan{
            border: 1px solid #0277bd;
            width: 100%;
            height: 95%;
            border-radius: 15px;
            background-color: white;
            text-align: center;
            color: #0277bd;
            padding-top: 18px;
            #lblcenterOne{
                font-weight: bold;
                font-size: 16px;
            }

            #lblcenternumber{
                margin-top: 5px;
            }
        }

        #LeftOneQuraan{
            border: 1px solid #0277bd;
            width: 100%;
            height: 95%;
            border-radius: 15px;
            background-color: white;
            text-align: center;
            color: #0277bd;
            padding-top: 18px;
            #lblLeftOne{
                font-weight: bold;
                font-size: 16px;
            }
            #lblleftnumber{
                margin-top: 5px;
            }
        }
    }
     .scroll-content{
         margin-top: 25px;

    }
    .btnabout{
        background: transparent;
        float: right;
    }

    .star{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        float: left;
        font-size: 23px;
        color: #0277bd;
        background-color: #2a6aab;
        margin-left: 14px;
       margin-top: 32px;
       img{
           width: 23px;
           margin: 8px;
       }
    }
}
