<ion-header no-border>
  <div class="itemtopQuraanPage">
    <button class="btnabout" (click)="gotaboutpage()">
      <img src="assets/imgs/iconmark.png">
    </button>
    <div class="besidemark">
      <label> وزاره الحرس الوطنى جهاز الارشادوالتوجيه </label>
    </div>
    <img id="imgback" src="assets/imgs/back.png" (click)="Back()">
  </div>
</ion-header>
<ion-content style="background-image: url('assets/imgs/bgMainPage.jpg');background-size: 100% 100%;">
  <div class="ForAdjustHieghtwithScroll">
    <div>
      <button (click)="Startaudio()"> </button>
    </div>
    <div class="Quraan">
      <div class="circledivQuraan">
        <img src="assets/imgs/bookquraan.png">
      </div>
      <label>القرأن الكريم</label>
      <button class="star" (click)="gotToBokkmarks()">
        <ion-icon name="bookmarks"></ion-icon>
      </button>
    </div>
    <ion-segment [(ngModel)]="Divides">
      <ion-segment-button value="Parts">
        الأجزاء
      </ion-segment-button>
      <ion-segment-button value="Soura" (click)="viewsourList()">
        <b *ngIf="!selectedPart">السور</b>
        <b *ngIf="selectedPart"> سور {{selectedPart.partName}}</b>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div class="ForAdjustHieghtwithScrollDownPart">
    <div [ngSwitch]="Divides">
      <ion-grid *ngSwitchCase="'Parts'" class="GRIDQuran">
        <ion-scroll id="SCROLL" scrollY="true">
          <ion-row id="ROWQuraan">
            <ion-col col-4 *ngFor="let item of lstParts">
              <div id="rightOneQuraan" (click)="viewPartSour(item)">
                <label id="lblrightOne"> {{item.partName}} </label>
              </div>
            </ion-col>
          </ion-row>
        </ion-scroll>
      </ion-grid>

      <ion-grid *ngSwitchCase="'Soura'" class="GRIDQuran">
        <ion-scroll id="SCROLL" scrollY="true">
          <ion-row id="ROWQuraan">
            <ion-col col-4 *ngFor="let item of lstsoura">
              <div id="rightOneQuraan" (click)="gotoshowsourapge(item)">
                <label id="lblrightOne"> {{item.souraName}} </label>
                <div id="lblrightnumber"> عدد اياتها :{{item.numberOfPhrases}} </div>
                <div *ngIf="item.type">
                  مدنية
                </div>
                <div *ngIf="!item.type">
                  مكية
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-scroll>
      </ion-grid>

    </div>
  </div>
</ion-content>