<ion-header no-border>
    <ion-navbar hideBackButton="true">
        <ion-buttons left>
            <button color="primary" (click)="bookMark()" ion-button icon-only>
                <ion-icon *ngIf="isBookmArked" name="ios-bookmark"></ion-icon>
                <ion-icon *ngIf="!isBookmArked" name="ios-bookmark-outline"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            {{title}}
        </ion-title>
        <ion-buttons right>
            <button ion-button icon-only (click)="Back()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <div id="remindertime" [hidden]="LOADED" class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
    <img-loader [hidden]="!LOADED" [src]="img" (load)="onImageLoad($event)"></img-loader>
    <ion-fab right bottom>
        <button (click)="goPrev()" ion-fab color="light">
            <ion-icon name="arrow-forward"></ion-icon>
        </button>
    </ion-fab>
    <ion-fab left bottom>
        <button (click)="goNext()" ion-fab color="light">
            <ion-icon name="arrow-back"></ion-icon>
        </button>
    </ion-fab>
</ion-content>