page-show-soura {

    .hdShowSoura{
        background-color: #0277bd;
        width: 100%;
        height: 50px;

        .containimageShowSoura{
            width: 40px;
            height: 100%;
           // background-color: red;
            float: right;
            img{
                width: 18px;
              margin: 12px;
            }
        }

      

        .bname{
            width: 40%;
            float: right;
          
            height: 50px;
           // margin-right: 5px;
           line-height: 45px;
           font-family: 'Cairo';
           font-size: 15px;
           color: white;
           font-weight: bold;
         
        }

        #back{
            width: 20px;
            float: left;
            margin: 12px;
        }
    } // hd end
}
