<!-- (click)="toggleNav()" -->

<div class="menu">
	<button #menuButton class="cn-button"  style="background-color: transparent !important;">
		<img id="MAINMARKimg" src="assets/imgs/mainmark.png" width="85" height="100">
	</button>
	<div class="cn-wrapper" [@menu]="isNavOpened?'open':'close'"  >
		<ul #list>
			<li *ngFor='let item of menuItems;let itemIndex = index' (click)="navigateToPage(itemIndex , item.page)">
				<a  [class.selected]="item.isSelected">
					<span *ngIf="item.title" [class.selected]="item.isSelected" [class.saffa]="!item.title">
						<img [src]="item.img" height="35" width="35">
						<p>{{item.title}}</p>
					</span>
					<img *ngIf="!item.title" height="65" [src]="item.img">
				</a>
				<div class="button-effect "></div>
			</li>
		</ul>
	</div>
</div>