<ion-content>
  <div class="itemtop">
    <button class="btnabout" (click)="gotaboutpage()">
      <img src="assets/imgs/iconmark.png">
    </button>
    <div class="besidemark">
      <label> وزاره الحرس الوطنى جهاز الارشاد و التوجيه </label>
    </div>
    <img id="imgyear" src="assets/imgs/year.png">
  </div>

  <circular-tabs  [openPage]="theBoundCallback" [menuItems]="menuItems" [totalAngle]="360" [gapAngle]="2"
    [startAngle]="90" [closeOnTabSelection]="true" [closeOnBlur]="false" [closedBtnIconName]="'apps'" [openedBtnIconName]="'close-circle'">
  </circular-tabs>
  <div class="itembottom">
    <img src="assets/imgs/iconsetting.png" (click)="GotoSettingPage()">
  </div>
</ion-content>