page-home {
  .btnabout {
    background: transparent;
    float: right;
  }
  circular-tabs {
    position: fixed;
    height: 100px;
    width: 100px;
    margin-left: -50px;
    bottom: 40%;
  }
  .itemtop {
    // background-color: red;
    margin-top: 5px;
    height: 50px;
    img {
      width: 25px;
      margin-right: 10px;
      margin-top: 13px;
      float: right;
    }
    #imgyear {
      float: left;
      width: 65px;
      margin-left: 10px;
      margin-top: 5px;
    }
  }
  ion-icon {
    font-size: 33px;
  }
  p {
    font-size: smaller;
    margin-top: 0;
    font-family:'Droid Arabic Kufi' !important;
  }
  // .rot1 {
  //   // transform: rotate(90deg);
  //   padding-top: 8px;
  // }
  // .rot2 {
  //   transform: rotate(47deg);
  //   margin-top: -6px;
  //   position: absolute;
  //   left: 30px;
  //   top: 25px;
  // }
  // .rot3 {
  //   transform: rotate(90deg);
  //   margin-right: -13px;
  // }
  // .rot4 {
  //   transform: rotate(-86deg);
  //   margin-top: 39px;
  // }
  // .rot5 {
  //   transform: rotate(222deg);
  //   margin-top: 45px;
  // }
  // .rot6 {
  //   transform: rotate(-46deg);
  //   padding-right: 17px;
  // }
  // .rot7 {
  //   transform: rotate(139deg);
  //   margin-top: 14px;
  // }
  .rot8 {
    transform: rotate(0deg);
    margin-left: -10px;
  }
  .besidemark {
    // background-color: green;
    width: 120px;
    float: right;
    margin-right: 2px;
    font-family: 'Cairo';
    font-size: 12px;
    color: #2a6aab;
  }
  .itembottom {
    position: absolute;
    bottom: 0; //  background-color: red;
    width: 100%;
    img {
      float: left;
      width: 25px;
      margin-left: 10px;
      margin-bottom: 10px;
    }
  } 
  .home-content {
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 311px;
    height: 300px;
    button {
      background: transparent;
      color: #fff;
    }
    .center-img {
      padding: 7px;
      border-radius: 50%;
      border: 1px solid #0277bd;
      width: 137px;
      height: 139px;
      text-align: center;
      vertical-align: middle;
      position: absolute;
      background: #fff;
      overflow: visible;
      z-index: 300;
      right: 28%;
      top: 37.5%;
      img {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
      }
    }
    .btn1 {
      width: 105px;
      height: 105px;
      position: absolute;
      // animation: mymove .5s  ;
      // animation-iteration-count: 1;
      // animation-delay: 2s;
      button {
        background: transparent;
        position: absolute;
        top: 25px;
        -webkit-transform: rotate(-47deg);
        transform: rotate(-47deg);
        color: #fff;
        font-size: 11px;
        right: 9px;
        left: 18px;
        font-weight: bold;
      }
    }
    .btn2 {
      width: 105px;
      height: 105px;
      position: absolute; // left: 189px;
      // top: 42px;
      // -webkit-transform: rotate(48deg);
      // transform: rotate(95deg);
      button {
        background: transparent;
        position: absolute;
        top: 30px;
        -webkit-transform: rotate(-47deg);
        transform: rotate(-95deg);
        color: #fff;
        font-size: 11px;
        right: 12px;
        left: 24px;
        font-weight: bold;
      }
    }
    .btn3 {
      width: 105px;
      height: 105px;
      position: absolute; // left: 225px;
      // top: 128px;
      // -webkit-transform: rotate(48deg);
      // transform: rotate(138deg);
      button {
        background: transparent;
        position: absolute;
        top: 30px;
        -webkit-transform: rotate(-47deg);
        transform: rotate(221deg);
        color: #fff;
        font-size: 11px;
        right: 12px;
        left: 16px;
        font-weight: bold;
      }
    }
    .btn4 {
      width: 105px;
      height: 105px;
      position: absolute; // left: 191px;
      // top: 215px;
      // -webkit-transform: rotate(48deg);
      // transform: rotate(183deg);
      button {
        background: transparent;
        position: absolute;
        top: 30px;
        -webkit-transform: rotate(-47deg);
        transform: rotate(-182deg);
        color: #fff;
        font-size: 11px;
        right: 6px;
        left: 23px;
        font-weight: bold;
      }
    }
    .btn5 {
      width: 105px;
      height: 105px;
      position: absolute;
      left: 129px;
      top: 244px;
      // -webkit-transform: rotate(48deg);
      transform: rotate(61deg);
      button {
        background: transparent;
        position: absolute;
        top: 22px;
        -webkit-transform: rotate(-47deg);
        transform: rotate(-64deg);
        color: #fff;
        font-size: 11px;
        right: 12px;
        left: 8px;
        font-weight: bold;
      }
    }
    .btn6 {
      width: 105px;
      height: 105px;
      position: absolute; //left: 17px;
      //top: 215px;
      //-webkit-transform: rotate(48deg);
      //transform: rotate(-87deg);
      button {
        background: transparent;
        position: absolute;
        top: 30px;
        -webkit-transform: rotate(-47deg);
        transform: rotate(88deg);
        color: #fff;
        font-size: 11px;
        right: 12px;
        left: 25px;
        font-weight: bold;
      }
    }
    .btn7 {
      width: 105px;
      height: 105px;
      position: absolute; // left: -20px;
      // top: 130px;
      // -webkit-transform: rotate(48deg);
      // transform: rotate(-43deg);
      button {
        background: transparent;
        position: absolute;
        top: 30px;
        -webkit-transform: rotate(-47deg);
        transform: rotate(40deg);
        color: #fff;
        font-size: 11px;
        right: 15px;
        left: 23px;
        font-weight: bold;
      }
    }
    .btn8 {
      width: 105px;
      height: 105px;
      position: absolute; // left: 14px;
      // top: 42px;
      // -webkit-transform: rotate(48deg);
      // transform: rotate(3deg);
      button {
        background: transparent;
        position: absolute;
        top: 30px;
        -webkit-transform: rotate(-47deg);
        transform: rotate(-2deg);
        color: #fff;
        font-size: 11px;
        right: 12px;
        left: 21px;
        font-weight: bold;
      }
    }
    @-webkit-keyframes mymove {
      0% {
        position: absolute;
        left: 101px;
        top: 5px;
        -webkit-transform: rotate(48deg);
        transform: rotate(48deg);
        z-index: 200;
      }
      11% {
        z-index: 200;
        left: 189px;
        top: 42px;
        -webkit-transform: rotate(48deg);
        transform: rotate(95deg);
      }
      22% {
        position: absolute;
        left: 225px;
        top: 128px;
        -webkit-transform: rotate(48deg);
        transform: rotate(138deg);
        z-index: 200;
      }
      33% {
        position: absolute;
        left: 191px;
        top: 215px;
        -webkit-transform: rotate(48deg);
        transform: rotate(183deg);
        z-index: 200;
      }
      44% {
        position: absolute;
        left: 104px;
        top: 252px;
        transform: rotate(229deg);
        z-index: 200;
      }
      55% {
        position: absolute;
        left: 19px;
        top: 217px;
        transform: rotate(271deg);
        z-index: 200;
      }
      66% {
        left: -20px;
        top: 130px;
        transform: rotate(316deg);
        z-index: 200;
      }
      77% {
        position: absolute;
        left: 14px;
        top: 42px;
        transform: rotate(362deg);
        z-index: 200;
      }
      100% {
        transform: rotate(407deg);
        z-index: 200;
      }
    }
  }
}

