page-calender { 
    .btnabout{
        background: transparent;
        float: right;
    }

    .itemtopCalenderPage{
        // background-color: red;
         margin-top: 5px;
         height: 50px;
 
         img{
             width: 25px;
            margin-right: 10px;
            margin-top: 13px;
            float: right;
         }
 
         #imgback{
             float: left;
             width: 25px;
             margin-left: 10px;
             margin-top: 10px;
             
         }
     }

     .besidemark{
        // background-color: green;
         width: 120px;
         float: right;
         margin-right: 2px;
         font-family: 'Cairo';
         font-size: 12px;
         color: #2a6aab;
     }

     .itembottomCalenderPage{
        position: absolute;
        bottom: 0;
      //  background-color: red;
        width: 100%;

        img{
            float: left;
            width: 25px;
            margin-left: 10px;
            margin-bottom: 10px;
        }
    
}


// .circledivCalender{
//     position: absolute;
//     background-color: white;
//     border-radius: 50%;
//     float: right;
//     width: 90px;
//     height: 90px;
//     border: 1px solid #0277bd;
//    right: 10px;

//    img{
//        width: 50px;
//        position: absolute;
//        left: 50%;
//        top:50%;
//        transform: translate(-50%,-55%);
//    }
// }


// .RightCalender{
//     margin: 7px;
// }


.CalenderHeader{
    width: 100%;
    height: 90px;
    margin-top: 20px;
    .circledivCalender{
        position: absolute;
        background-color: white;
        border-radius: 50%;
        float: right;
        width: 90px;
        height: 90px;
        border: 1px solid #0277bd;
       right: 10px;

       img{
           width: 45px;
           position: absolute;
           left: 50%;
           top:50%;
           transform: translate(-50%,-55%);
       }
    }

    label{
       position: absolute;
        color: #0277bd;
        font-family: 'Cairo';
        font-size: 20px;
        right: 110px;
        line-height: 100px;
        font-weight: bold;
    }

    .CalenderWord{
     //  background-color: red;
        width: 52px;
        height: 75px;
        position: absolute;
        right: 108px;
        top: 30px;

        #CalnderrSpeech{
            color: #0277bd;
            position: absolute;
            top: 0px;
            font-size: 17px;
            font-family: 'Cairo';
            line-height: 75px;
        }  
    }
} // end Calnder

.RightCalender{
    margin-top: 30px;
   // border: 1px solid red;
    height: 250px;
    padding-right: 2.5%;
    padding-left: 2.5%;
   // background-color: white;

   calendar{
       width: 100px;
       height: 200px;
   }    
}

[col-1] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 14.285714285714286%;
    width: 14.285714285714286%;
    max-width: 14.285714285714286%;
  }
  .col {
    text-align: center;
     padding: 7px;
  }
  .last-month, .next-month {
    color: #999999;
    font-size: 90%;
  }
  .currentDate, .otherDate {
    padding: 5px;
  }
  .currentDate {
    font-weight: bold;
    background-color: #0277bd;
    color: white;
    // border-radius: 30px;
  }
  .calendar-header {
    background-color: #0277bd;
    color: #FFFFFF;
  }
  .event-bullet {
    margin: 2px auto;
    height: 5px;
    width: 5px;
    background-color: #0277bd;
    border-radius: 30px;
  }
  .selected-date {
    width: 20px;
    height: 2px;
    background-color: blue;
  }
  .unselected-date {
    border: none;
  }
  .calendar-body {
    .grid {
      padding: 0;
    }
    .col:last-child {
      border-right: none;
    }
    .calendar-weekday, .calendar-date {
      text-align: center;
      margin: 0;
    }
    .calendar-weekday {
      font-weight: bold;
      border-bottom: solid 1px #0277bd;
      background-color: #0277bd;
    }
    .calendar-date {
      border-top: solid 1px #0277bd;
      border-bottom: solid 1px #0277bd;
    }
  }


} 