<ion-header no-border>
    <div class="itemtopCalenderPage">

        <button class="btnabout" (click)="gotaboutpage()">
            <img src="assets/imgs/iconmark.png">
        </button>
        <div class="besidemark">
            <label> وزاره الحرس الوطنى جهاز الارشادوالتوجيه </label>
        </div>
        <img id="imgback" src="assets/imgs/back.png" (click)="Back()">
    </div>
</ion-header>
<ion-content>
    <div class="CalenderHeader">
        <div class="circledivCalender">
            <img src="assets/imgs/calender.png">
        </div>
        <div class="CalenderWord">
            <b id="CalnderrSpeech">التقويم</b>
        </div>
    </div>
    <ion-segment [(ngModel)]="CALENDER">
        <ion-segment-button value="calenderr">
            التقويم
        </ion-segment-button>
        <ion-segment-button value="StudyCalender">
            التقويم الدراسي
        </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="CALENDER"> 
        <div *ngSwitchCase="'calenderr'" class="RightCalender">
            <div *ngIf="!hijriDaysInThisMonth.length" class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
            <div *ngIf="hijriDaysInThisMonth.length">
                <div class="calendar-header">
                    <ion-row class="calendar-month">
                        <ion-col col-2 (click)="goToLastHijriMonth()">
                            <ion-icon name="arrow-forward"></ion-icon>
                        </ion-col>
                        <ion-col col-8>
                            <b>
                                {{hijricurrentMonth}} {{hijricurrentYear}}
                            </b>
                        </ion-col>
                        <ion-col col-2 (click)="goToNextHijriMonth()">
                            <ion-icon name="arrow-back"></ion-icon>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="calendar-body">
                    <ion-grid>
                        <ion-row class="calendar-weekday" style="color: white;">
                            <ion-col>سبت</ion-col>
                            <ion-col>أحد</ion-col>
                            <ion-col>إثنين</ion-col>
                            <ion-col>ثلاثاء</ion-col>
                            <ion-col>أريعاء</ion-col>
                            <ion-col>خميس</ion-col>
                            <ion-col>جمعة</ion-col>
                        </ion-row>
                        <ion-row class="calendar-date">
                            <ion-col col-1 *ngFor="let lastDay of hijridaysInLastMonth" class="last-month" (click)="goToLastHijriMonth()">{{lastDay}}</ion-col>
                            <ion-col col-1 *ngFor="let day of hijriDaysInThisMonth">
                                <!-- {{hijricurrentDate}} -->
                                <span class="currentDate" *ngIf="hijricurrentDate === day; else otherDate">{{day}}</span>
                                <ng-template #otherDate class="otherDate">
                                    {{day}}
                                </ng-template>
                            </ion-col>
                            <ion-col col-1 *ngFor="let nextDay of hijridaysInNextMonth" class="next-month" (click)="goToNextHijriMonth()">{{nextDay}}</ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </div>

        </div>
        <div *ngSwitchCase="'StudyCalender'" class="RightCalender">
            <div class="calendar-header">
                <ion-row class="calendar-month">
                    <ion-col col-2 (click)="goToLastMonth()">
                        <ion-icon name="arrow-forward"></ion-icon>
                    </ion-col>
                    <ion-col col-8>
                        <b>
                            {{currentMonth}} {{currentYear}}
                        </b>
                    </ion-col>
                    <ion-col col-2 (click)="goToNextMonth()">
                        <ion-icon name="arrow-back"></ion-icon>
                    </ion-col>
                </ion-row>
            </div>
            <div class="calendar-body">
                <ion-grid>
                    <ion-row class="calendar-weekday" style="color: white;">
                        <ion-col>أحد</ion-col>
                        <ion-col>إثنين</ion-col>
                        <ion-col>ثلاثاء</ion-col>
                        <ion-col>أريعاء</ion-col>
                        <ion-col>خميس</ion-col>
                        <ion-col>جمعة</ion-col>
                        <ion-col>سبت</ion-col>
                    </ion-row>
                    <ion-row class="calendar-date">
                        <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month" (click)="goToLastMonth()">{{lastDay}}</ion-col>
                        <ion-col col-1 *ngFor="let day of daysInThisMonth">
                            <span class="currentDate" *ngIf="currentDate === day; else otherDate">{{day}}</span>
                            <ng-template #otherDate class="otherDate">
                                {{day}}
                            </ng-template>
                        </ion-col>
                        <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month" (click)="goToNextMonth()">{{nextDay}}</ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>
    </div>

</ion-content>
<ion-footer>
    <div class="itembottomCalenderPage">
        <img src="assets/imgs/iconsetting.png" (click)="GotoSettingPage()">
    </div>
</ion-footer>