<ion-header no-border>
    <div class="itemtopWeatherPage">
        <button class="btnabout" (click)="gotaboutpage()">
            <img src="assets/imgs/iconmark.png">
        </button>
        <div class="besidemark">
            <label> وزاره الحرس الوطنى جهاز الارشادوالتوجيه </label>
        </div>
        <img id="imgback" src="assets/imgs/back.png" (click)="Back()">
    </div>
</ion-header>
<ion-content>
    <div class="Weather">
        <div class="circledivWeather">
            <img src="assets/imgs/sun.png">
        </div>
        <div class="WeatherWord">
            <b id="WeatherSpeech">أحوال الطقس</b>
            <ion-note id="lastupdate">{{Lastupdate}} </ion-note>
        </div>

        <!-- <select [(ngModel)]="SelectedItem" (ngModelChange)="optionsFn()">
            <option value="{{item.nameEn}}" *ngFor="let item of ArrOptions">{{item.name}}</option>
        </select> -->

        <select-searchable searchPlaceholder="إيحث في المدن" [(ngModel)]="SelectedItem" [items]="ArrOptions" itemValueField="nameEn" itemTextField="name" [canSearch]="true" (onChange)="ChnageSelectItemFromSelect($event)">
                <ng-template selectSearchableLabelTemplate>
                  إختر مدينة
                </ng-template>
              </select-searchable>
          
    </div>
    <div class="ContentWeather">
        <div class="emptydiv">
        </div>
        <div class="Weathercontent">
            <div *ngIf="!LOAD" class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
            <div *ngIf="LOAD" id="UpperContent">
                <label id="Statuslbl">{{Is_DayString}}</label>
                <label id="StatusWeather">
                    {{SunnyString}}
                </label>
                <br>
                <br>
                <label id="tempreaturedegree">
                    {{Max_tempC}} &nbsp;
                    <ion-note>كبرى</ion-note>
                </label>
                <label id="tempreaturedegree">
                    {{Min_TempC}} &nbsp;
                    <ion-note>صغرى</ion-note>
                </label>
                <br>
                <ion-note id="percentage">%{{HeavyRain}} هطول امطار</ion-note>

                <img *ngIf="IMg" id="OrangeImg" [src]="IMg">
            </div>
        </div>
    </div>

    <!-- ************************** -->

    <div class="ExpectedTemprature">
        <div class="circledivExpectedTemprature">
            <img src="assets/imgs/forcast.png">
        </div>
        <div class="ExpectedTempratureWord">
            <b id="WeatherSpeech">درجات الحراه المتوقعه</b>
        </div>
    </div>
    <div class="ContentExpectedTemprature">
        <div class="emptydiv">
        </div>

        <div class="ContentExpectedTemprature">
            <div class="emptydiv">
            </div>

            <div class="ExpectedTempraturecontent">
                <div *ngIf="!LOAD" class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
                <div *ngIf="LOAD">
                    <ion-row nowrap id="ROWWEATHER">
                        <ion-col>
                            <ion-note>اليوم</ion-note>
                        </ion-col>
                        <ion-col>
                            <ion-note>الكبرى</ion-note>
                        </ion-col>
                        <ion-col>
                            <ion-note>الصغرى</ion-note>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngFor="let item of ArrContain7Days; let dayIndex = index " nowrap>
                        <ion-col style="color: grey;">
                            {{item}}
                        </ion-col>
                        <ion-col>
                            <b id="satradydeg">{{Arr_contain_Temp_Of_7Days[dayIndex].day.maxtemp_c}}</b>
                        </ion-col>
                        <ion-col id="testcol">
                            <b id="mindeg">{{Arr_contain_Temp_Of_7Days[dayIndex].day.mintemp_c}}</b>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
</ion-content>
<ion-footer>
    <div class="itembottomWeatherPage">
        <img src="assets/imgs/iconsetting.png" (click)="GotoSettingPage()">
    </div>
</ion-footer>