<!--
  Generated template for the QuraanEza3aPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content style="background-image: url('assets/imgs/bgMainPage.jpg');background-size: 100% 100%;">
  <div class="itemtopQuraanEza3aPage">

    <button class="btnabout" (click)="gotaboutpage()">
      <img src="assets/imgs/iconmark.png">
    </button>
    <div class="besidemark">
      <label> وزاره الحرس الوطنى جهاز الارشاد و التوجيه </label>
    </div>
    <img id="imgback" src="assets/imgs/back.png" (click)="Back()">
  </div>

  <div class="eza3a">
    <div class="head">
      <h3>اذاعه القران الكريم</h3>
      <ion-icon [@bounce]="bounce" (@bounce.done)="onDone($event)" icon-lg name="ios-radio-outline"></ion-icon>
    </div>
    <div class="btneza3a">
      <button *ngIf="!isPlaying" (click)="play()" ion-button clear class="btn-on">
        <ion-icon name="mic"></ion-icon>
      </button>
      <button *ngIf="isPlaying" (click)="pause()" ion-button clear class="btn-off">
        <ion-icon name="mic-off"></ion-icon>
      </button>
    </div>
  </div>
  <div class="itembottomQuraanEza3aPage">
    <img src="assets/imgs/iconsetting.png">
  </div>
</ion-content>