page-quraan-eza3a {
    .btnabout{
        background: transparent;
        float: right;
    }
    .itemtopQuraanEza3aPage{
        // background-color: red;
         margin-top: 5px;
         height: 50px;
 
         img{
             width: 25px;
            margin-right: 10px;
            margin-top: 13px;
            float: right;
         }
 
         #imgback{
             float: left;
             width: 25px;
             margin-left: 10px;
             margin-top: 10px;
             
         }
     }

     .besidemark{
        // background-color: green;
         width: 120px;
         float: right;
         margin-right: 2px;
         font-family: 'Cairo';
         font-size: 12px;
         color: #2a6aab;
     }

     .itembottomQuraanEza3aPage{
        position: absolute;
        bottom: 0;
      //  background-color: red;
        width: 100%;

        img{
            float: left;
            width: 25px;
            margin-left: 10px;
            margin-bottom: 10px;
        }
    }

    .ContainerQuraanEza3aPage{
        width: 320px;
        height: 320px;
      //  margin: 0 auto;
        position: absolute;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border: 1px solid red;


        .InnerOne{
            width: 150px;
            height: 150px;
          //  margin: 0 auto;
            position: absolute;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-1%,-50%);
            border: 1px solid #0277bd;
            background-color: white;

            img{
                width: 85px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }

            
        }
    }
    
   .eza3a{
   margin:  61px auto auto auto;
       text-align: center;
       .head{
           margin: auto;
           color:#0277bd;
           ion-icon{
            font-size: 10.4em;
           }
       }
       .btneza3a{
           text-align: center;
           margin: 50px auto;
           .btn-on{
               width: 70px;
               height: 70px;
               font-size: 30px;
               border: 2px solid #0277bd;
               border-radius: 50%;
               text-align: center;
               color:#0277bd;
           }
           .btn-off{
            width: 70px;
            height: 70px;
            font-size: 30px;
            border: 2px solid #0277bd;
            border-radius: 50%;
            text-align: center;
            color:#0277bd;
        }
       
           


       }

   }

   .range-md [range-right]{
    margin: 0 12px 0 12px
}
.item-ios{
    background-color: transparent;
}

ion-icon[small]{
    font-size: 2.1em ;
}
.range-ios [range-right]{
    margin: 0 12px 0 12px;
}
.range-md [range-right]{
    margin: 0 12px 0 12px;
}
.range-ios [range-left]{
    margin: 0 12px 0 12px;
}
.range-md [range-left]{
    margin: 0 12px 0 12px;
}
.item-inner{
margin: auto;
border-bottom: 1px solid transparent !important;
}
.item-md{
background-color: transparent;
}
ion-range{
    border: .5px solid #0277bd;
    width: 80%;
    ion-icon{
        font-size: 4.4rem;
        color: #0277bd
    }

}
.range-ios {
.range-knob{
    background-color: #0277bd;
    width: 18px;
    height: 18px;
    top:11px;
}
}
.item-range {
    ion-range {
        width: 80%;
    }
   
}
.item-ios
{
    .item-block  {
        .item-inner{
            border-bottom: 0px solid transparent;
        }
    }

}

} // end home
