<ion-header no-border>
  <div class="itemtopCalenderPage">
      <button class="btnabout" (click)="gotaboutpage()">
          <img src="assets/imgs/iconmark.png">
      </button>
      <div class="besidemark">
          <label> وزاره الحرس الوطنى جهاز الارشادوالتوجيه </label>
      </div>
      <img id="imgback" src="assets/imgs/back.png" (click)="Back()">
  </div>
</ion-header>
<ion-content padding>
  <div class="PrayTiming">
    <div class="circledivPray">
      <img src="assets/imgs/icon-103.png">
    </div>
    <div class="showPrayTime">
      <b id="praytimelbl">تحديد إتجاه القبلة</b>
      <br>
    </div>
  </div>

  <div class="compass">
    <div class="compass-main">

      <span class="north-label">الشمال</span>
      <span class="east-label">الشرق</span>
      <span class="west-label">الغرب</span>
      <span class="south-label">الجنوب</span>

      <div class="compass-rose">

        <div class="cardial-points">
          <div class="north-pointer pointer"></div>
          <div class="east-pointer pointer"></div>
          <div class="west-pointer pointer"></div>
          <div class="south-pointer pointer"></div>
        </div>
        <div class="ordinal-points">
          <div class="northeast-pointer"></div>
          <div class="northwest-pointer"></div>
          <div class="southeast-pointer"></div>
          <div class="south-west-pointer"></div>
        </div>
      </div>
      <div class="bt-center"></div>
      <div [@niddleMoving]="getniddleMovement()" class="dip-needle"></div>
      <img src='assets/imgs/k3ba.png' [@ka3baMovement]="getKa3baMovement()" class="ka3ba" />
    </div>
  </div>
</ion-content>