page-compass {
  // @import url('http://fonts.googleapis.com/css?family=Raleway:400,200,300,500,600,700');
  ion-content {
     // color: #888;
    text-align: center;
  }
  .btnabout{
    background: transparent;
    float: right;
}

.besidemark{
  // background-color: green;
   width: 120px;
   float: right;
   margin-right: 2px;
   font-family: 'Cairo';
   font-size: 12px;
   color: #2a6aab;
}

  .itemtopCalenderPage{
    // background-color: red;
     margin-top: 5px;
     height: 50px;

     img{
         width: 25px;
        margin-right: 10px;
        margin-top: 13px;
        float: right;
     }

     #imgback{
         float: left;
         width: 25px;
         margin-left: 10px;
         margin-top: 10px;
         
     }
 }
  .compass {
    font-size: small;
    font-weight: bold;
    width: 260px;
    height: 260px;
    position: relative;
    margin: 100px auto;
    margin-bottom: 50px;
    background: linear-gradient(#232323, #232323 20%, #232323);
    border-radius: 50%;
    box-shadow: 0 2px 6px .8px rgb(51, 43, 43);
    animation: sliding 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-animation: sliding 1.9s ease-in-out;
  }
  
  .compass-main {
    width: 94%;
    height: 94%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -47%;
    margin-left: -47%;
    background: radial-gradient(#EEE 50%, #DDD 80%);
    border-radius: 50%;
  }
  .compass-rose {
    width: 70%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35%;
    margin-left: -35%;
  }
  .pointer {
    width: 0;
    height: 0;
    position: absolute;
    border: 80px solid;
    border-left: 14px solid;
    border-right: 14px solid;
  }
  .cardial-points .pointer {
    border-color: #DDD transparent transparent transparent;
  }
  .ordinal-points .pointer {
    border-color: #AAA transparent transparent transparent;
  }
  .north-pointer {
    top: -40px;
    margin-top: -40px;
    left: 50%;
    margin-left: -14px;
    -webkit-transform: rotate(180deg);
  }
  .east-pointer {
    top: 28%;
    right: -10px;
    margin-top: -40px;
    -webkit-transform: rotate(-90deg);
  }
  .west-pointer {
    top: 28%;
    left: -10px;
    margin-top: -40px;
    -webkit-transform: rotate(90deg);
  }
  .south-pointer {
    bottom: -40px;
    margin-bottom: -40px;
    left: 50%;
    margin-left: -14px;
  }
  
  

.bt-center {
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: 100000;
  top: 50%; left: 50%;
  margin-top: -8px; margin-left: -8px;
  display: block;
  background: #444;
  border-radius: 50%;
}
  
.dip-needle {
  width: 12px;
  height: 12px;
  position: absolute;
  z-index: 999;
  top: 50%; left: 50%;
  margin-top: -6px; margin-left: -6px;
  -webkit-animation: animation-dip-needle 1s linear 0s infinite;
}

.ka3ba{
  width: 25px;
  height: 25px;
  position: absolute;
  z-index: 999;
  top: 50%; left: 50%;
  margin-top: -6px; margin-left: -6px;
  // transform: rotate(0deg) translateX(150px) rotate(0deg)
}

@keyframes orbit2 {
	from { 	transform: rotate(0deg) translateX(150px) rotate(0deg); }
	to   {  transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

.dip-needle:after {
  content: "";
  width: 0; height: 0;
  position: absolute;
  top: -150px;
  right: 0;
  border: 80px solid;
  border-left: 6px solid; border-right: 6px solid;
  border-color:transparent transparent #B20000   transparent;
  z-index: -10000;
}

.dip-needle:before {
  content: "";
  display: block;
  width: 0; height: 0;
  position: absolute;
  top: 0; right: 0;
  border: 80px solid;
  border-left: 6px solid; border-right: 6px solid;
  border-color: #232323 transparent transparent transparent;
}

  .north-label {
    position: absolute;
    top: 10px;
    left: 107px;
  }
  .east-label {
    position: absolute;
    top: 114px;
    right: 4px;
  }
  .west-label {
    position: absolute;
    top: 114px;
    left: 6px;
  }
  .south-label {
    position: absolute;
    bottom: 6px;
    left: 107px;
  }
  .create {
    font-size: 1.2em;
    -webkit-animation: fadeIn 2.2s ease-in;
  }
  .author {
    text-decoration: none;
    color: #1abc9c;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


  @keyframes sliding {
    0% {
      transform: translateY(-800px);
      opacity: 0;
    }
    70% {
      opacity: 0.4;
    }
    80% {
      transform: translateY(48px);
      opacity: 0.6;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

